<service
    android:name=".NetworkTileService"
    android:label="Radio Menu"
    android:icon="@drawable/ic_launcher_foreground"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>
